@charset "UTF-8";
html {
  min-height: 100%;
  position: relative;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: rgb(255, 218, 150);
  background-image: url("/fondo.jpg");
  margin: 0;
  margin-bottom: 200px;
  font-family: "Outfit-Regular";
}

h2 {
  font-size: 35px;
  font-family: "Outfit-Regular";
  margin: 0% 22%;
  margin-top: 5%;
  color: white;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

li {
  list-style-type: none;
}

.tituloinicial {
  font-size: 35px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Esto asegura que ocupe toda la altura de la pantalla */
  margin: 0;
}

/* Código */
.header {
  width: 100%;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.767);
  padding: 1em;
  font-family: "Outfit-Regular";
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Ajusta los valores según tus preferencias */
  color: rgb(255, 255, 255);
  padding: 2% 20%;
}

.header .h1 {
  /* background-color: aqua; */
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

.header .button {
  /* background-color: crimson; */
  display: none;
}

.header .svg {
  width: 2em;
  height: 2em;
  fill: white;
}

.button {
  background: transparent;
  border: 0px solid #000; /* Puedes ajustar el borde según tus necesidades */
  color: #ffffff; /* Cambia el color del texto según tus necesidades */
}
.button img {
  filter: invert(0.9);
}

.header .nav {
  /* background-color: bisque; */
}

.header .ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.header .li {
  margin: 0 0.8em;
}

/* Estilos iniciales para las opciones del menú */
.ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.li {
  margin-right: 20px;
  position: relative;
}

.a {
  text-decoration: none;
  color: #ffffff; /* Cambia el color de texto a tu gusto */
}

/* Mover el bloque de idioma al final */
.idioma {
  padding-top: 0.8%;
  display: flex;
  gap: 5%;
  padding-left: 9%;
  align-items: center;
}

/* Estilo de la línea animada */
.li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px; /* Ancho y grosor de la línea */
  background-color: rgb(255, 218, 150);
  bottom: -5px; /* Distancia desde la parte inferior del enlace */
  left: 0;
  transition: width 0.3s ease; /* Animación de la anchura */
}

/* Efecto hover */
.li:hover::after {
  width: 100%; /* La línea se expandirá completamente en hover */
}

.banderas {
  width: 27px;
}

#mensajeFinal {
  display: none;
  font-weight: bold;
}

@keyframes arcoiris {
  0% {
    color: #ff0000; /* Rojo */
  }
  16.67% {
    color: #ff9900; /* Naranja */
  }
  33.33% {
    color: #ff00ff; /* Amarillo */
  }
  50% {
    color: #00ff00; /* Verde */
  }
  66.67% {
    color: #0000ff; /* Azul */
  }
  83.33% {
    color: #9900ff; /* Morado */
  }
  100% {
    color: #ff0000; /* Regreso a Rojo para la transición continua */
  }
}
h1 {
  font-family: "Outfit-Bold";
}

.marca {
  font-size: 18px;
  font-family: "Outfit-Bold";
  display: inline-block;
  animation: arcoiris 4s linear infinite; /* 6s para un ciclo completo, linear para una transición uniforme */
}

.boton {
  width: 20rem;
  height: 3rem;
  font-size: 15px;
  margin-top: 2%;
  margin-bottom: 3%;
  font-family: "Outfit-Bold";
  border: none;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
  background-color: brown;
  color: white;
}

.contenedor {
  color: white;
  display: flex;
  font-size: 17px;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin: 3% 30%; /* Asegúrate de que no haya margen que afecte a la centralización */
  background-color: rgba(0, 0, 0, 0.411);
}

.titulo {
  margin-top: 10%;
}

#nombrePlato {
  font-family: "Outfit-Bold";
}

#platoAleatorio {
  color: #000;
  background-color: rgb(252, 215, 137);
  border-radius: 0.5rem;
  display: none;
  box-shadow: 5px 5px 10px #888888;
  padding: 30px;
}

footer {
  padding: 1.5% 22%;
  margin-top: 40%;
  background-color: rgba(0, 0, 0, 0.8431372549);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  color: white;
  font-family: "Outfit-Light";
}
footer .svg_footer {
  filter: brightness(0) invert(1);
}
footer .ubicacion {
  align-items: center;
  text-align: center;
}
footer .contactos {
  display: flex;
  margin-top: 4%;
  gap: 1%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .header {
    padding: 2%;
  }
}
@media (max-width: 1024px) {
  .tituloinicial {
    font-size: 11px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Esto asegura que ocupe toda la altura de la pantalla */
    margin: 0;
  }
  .contenedor {
    color: white;
    display: flex;
    font-size: 17px;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 3% 3%; /* Asegúrate de que no haya margen que afecte a la centralización */
    background-color: rgba(0, 0, 0, 0.411);
  }
  #platoAleatorio {
    color: #000;
    background-color: rgb(252, 215, 137);
    border-radius: 0.5rem;
    display: none;
    box-shadow: 5px 5px 10px #888888;
    padding: 30px;
    margin: 20px;
  }
  .header .button {
    display: block;
    cursor: pointer;
  }
  .header .nav {
    width: 100%;
    /* display: none; */
    height: 0;
    pointer-events: none;
    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .header .nav.activo {
    /* display: block; */
    height: 32vh;
    pointer-events: auto;
  }
  .header .ul {
    flex-direction: column;
  }
  .header .li {
    margin: 1rem 0;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 5%;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 5%;
  }
  footer {
    padding: 1.5% 22%;
    background-color: rgba(0, 0, 0, 0.8901960784);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    color: white;
    font-family: "Outfit-Light";
  }
  footer .svg_footer {
    filter: brightness(0) invert(1);
  }
  footer .ubicacion {
    align-items: center;
    text-align: center;
  }
  footer .contactos {
    display: flex;
    margin-top: 4%;
    gap: 1%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
/* Declara la fuente personalizada */
@font-face {
  font-family: "Outfit-Bold";
  src: url("/assets/fonts/Outfit-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Declara la fuente personalizada */
@font-face {
  font-family: "Outfit-Light";
  src: url("/assets/fonts/Outfit-Light.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Declara la fuente personalizada */
@font-face {
  font-family: "Outfit-Regular";
  src: url("/assets/fonts/Outfit-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}/*# sourceMappingURL=style.css.map */